body {
  margin-bottom: 70px;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.friends-header__title {
  font-weight: 600;
  font-size: 25px;
}

.friends-header__icone i {
  margin: 0 10px;
}

.friends-display {
  text-align: center;
}

.friends-display i {
  opacity: 0.5;
}

.friends-component {
  display: flex;
  align-items: center;
}

.friends-column {
  display: flex;
  align-items: center;
  margin: 20px;
}

.friends-img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.friends-title {
  margin: 0px 10px;
  font-weight: 600;
}

.friends-channel {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  margin: 0 20px;
  opacity: 0.4;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.friends-channel__info {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.friends-channel__info-left {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.friends-channel__info-left > span {
  opacity: 0.8;
  margin-left: 10px;
}

.friends-channel__info-left img,
.muliti-profile img {
  border-radius: 10px;
  height: 30px;
  width: 30px;
}

.friends-channel__info-right {
  font-size: 13px;
  opacity: 0.3;
}

.muliti-profile {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gray;
  margin: 0px 10px;
  gap: 7px;
}

.muliti-profile .update {
  position: absolute;
  left: -5px;
  width: 5px;
  height: 5px;
  background-color: tomato;
}

.muliti-profile .friends {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 15px 0;
}

.muliti-profile .friends .name {
  font-size: 12px;
}
.muliti-profile .friends .message {
  font-size: 10.5px;
  opacity: 0.5;
}

.muliti-profile span {
  font-size: 10px;
  font-weight: 500;
}
.muliti-profile .plus {
  width: 38px;
  height: 38px;
  border-radius: 14px;
}

.muliti-profile div {
  background-color: gainsboro;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  opacity: 0.8;
  font-weight: 100;
}

@keyframes hideSplash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 135px;
  animation: hideSplash 0.2s ease-in-out forwards;
  animation-delay: 1s;
}
