/* body {
  margin: 0;
  padding: 0;
} */

body {
  /* border: 8px solid black; */
  height: 100vh;
}

.status-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 20px;
}
.status-bar .notch {
  /* width: 200px; */
  height: 35px;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.camera,
.faceid {
  border-radius: 100%;
  background-color: #000033;
  width: 18px;
  height: 18px;
}

.camera {
  width: 15px;
  height: 15px;
  background-color: #00004d;
}

.speaker {
  width: 100px;
  height: 10px;
  background-color: #14141f;
  border-radius: 5px;
}

.index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

.index-title {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 400;
}

.index-text {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  color: lightgray;
}

.index-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.index-form input {
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.index-form input[type="submit"] {
  background-color: #f0f0f5;
  padding: 15px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  margin: 5px 20px;
  opacity: 0.8;
}

.index-form input:focus {
  border-color: var(--bg);
}

.index-form a {
  text-decoration: none;
  font-size: 12px;
  color: black;
  opacity: 0.8;
  margin: 10px 0;
}

.index-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}
