.more-display {
  text-align: center;
  background-color: #fafafa;
  padding: 10px 0;
}

.more-display i {
  opacity: 0.5;
}

.more-component {
  display: flex;
  align-items: center;
}

.more-component .container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #f9e000;
  width: 100%;
  height: 200px;
  padding: 5px 30px;
}

.more-component .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more-component .header h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.more-component .header h3 {
  font-size: 14px;
}

.more-component .imoticon {
  width: 100%;
  background-color: #ffffe6;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}

.more-component .small-bold {
  font-size: 16px;
  font-weight: 00;
}

.more-component .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
}

.more-component .bottom div:first-child {
  width: 100%;
  display: flex;
  gap: 20px;
}

.more-component .bottom div:last-child {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 2px;
}

.more-column {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.more-img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.more-text {
  margin: 0px 10px;
}
.more-title {
  font-weight: 600;
  margin: 5px 0;
}
.more-text h6 {
  opacity: 0.8;
}

.more-text h6 > i {
  margin-left: 5px;
  color: tomato;
}

.more-column i {
  font-size: 20px;
}

.icon-row {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}

.icon-row__icon i {
  display: block;
  text-align: center;
  font-size: 32px;
  margin: 15px 0;
}
.more-suggestions {
  margin: 20px 0px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
  padding: 10px 0;
}

.more-suggestions__title {
  font-weight: 600;
}

.more-suggestions__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 15px;
  padding: 0px 10px;
}

.more-suggestions__title {
  margin-bottom: 20px;
}

.more-suggestions__icon {
  margin-right: 15px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  /* background-color: var(--bg); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.more-suggestions__icon-text {
  opacity: 0.5;
  font-size: 12px;
}
.more-suggestions__icon-image i {
  font-size: 24px;
  /* color: white; */
}

.more-ad__container {
  width: 100%;
  height: 100px;
  padding: 5px 0px;
}

.more-ad__container img {
  width: 100%;
  height: 200px;
}
