.search-component {
  margin: 20px;
}

.search-icons {
  display: flex;
  justify-content: space-between;
}

.search-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-icons__icon i {
  font-size: 25px;
}

.search-icons__icon span {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.5;
  font-weight: 400;
}

.search-recommended {
  width: 100%;
  margin-top: -20px;
}

.search-live {
  width: 100%;
}
.search-live img {
  display: flex;
  width: 100%;
  height: 220px;
}
.search-recommended img {
  display: flex;
  width: 100%;
  height: 270px;
}
.search-recommended span:first-child {
  font-weight: 600;
}

.search-recommended span:last-child {
  padding: 100px 0px;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  font-weight: 600;
}

.open-chat__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.open-chat__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}
.open-chat__title {
  font-weight: 600;
}

.open-chat__has {
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.5;
}

.open-chat__mem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: -40px;
  font-size: 10px;
}
.open-chat__mem > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 20px;
}
.open-chat__status {
  color: palevioletred;
}

.open-chat__photo {
  position: relative;
}

.open-chat__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-top: 10px;
}

.open-chat__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 12px;
  right: 10px;
  bottom: 10px;
}

.open-chat__heart-count span {
  margin-left: 5px;
}

@keyframes scale {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: pink;
    transform: scale(1.7);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-chat__heart-count:hover i {
  will-change: transform;
  animation: scale 2s linear infinite;
}
