.setting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.settings-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.settings__setting {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

.settings__setting span {
  margin-left: 15px;
}

.settings__setting:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.border-top {
}
