.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header__title {
  font-weight: 500;
  font-size: 21px;
}

.header__icone i {
  margin: 0 8px;
}
